---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <h2>Welcome to KeralaJS</h2>
  <ul>
    <li>
      <a href="https://gist.github.com/kp666/250f52e91221e0ed31258c69f80e6bcc"
        >Code of conduct</a
      >
    </li>
    <li>
      <a href="https://github.com/keralajs">Github</a>
    </li>
    <li>
      <a href="https://t.me/keralajs">Telegram</a>
    </li>
  </ul>
</Layout>

<style>
  ul {
    list-style: none;
    padding: 0;
  }
</style>
